
<h1>Hola soy la pagina de contacto</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum consequuntur similique architecto cum, quod ullam mollitia tempora ut ducimus minima est quas quam veniam distinctio dolorum eaque? Tempore, aliquid mollitia!</p>